* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #467661, #B5C8BF , #467661);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    position: absolute;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #0b3b39;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.mainmenubtn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-left: 20px;
    margin-top:20px;
    border-radius: 25px;
}
.mainmenubtn:hover {
    background-color: #0b3b39;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: transparent;
    min-width: 200px;
}
.dropdown-child a {
    color: #0b3b39;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}