*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.main-box{
    width: auto;
    height: auto;
    background: linear-gradient(to right, #467661, #B5C8BF , #467661);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    position: relative;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #0b3b39;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.skin{
    width: 40%;
    height: 500px;
    margin-left: 30%;
    position: relative;
}

.main-page-first h2{
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 80%;
    color: #fff;
    background-color: #1b6da8;
    box-shadow: 5px 7px #074775;
    background-size: cover;
    position: relative;
}

.main-page-first p{
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 110%;
}

.main-page-first ul li{
    margin-left: 20px;
    list-style: none;
}

.main-page-first table{
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 30px;
}

.main-page-first table td{
    text-align: center;
}

.main-page-first table img{
    width: 30px;
    height: 30px;
    position: relative;
}

.main-page-first ins{
    margin-left: 15px;
    color: #074775;
    font-weight: bold;
    font-size: 140%;
}

.main-page-first img{
    width: 30px;
    height: 30px;
    position: relative;
}

.footer {
    margin-top: 5%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
